<%= content_for :css do %>
<%= render 'css' %>
<% end %>
<%= content_for :ext_nav_item do %>
<li class="current">
  <a>编辑”<%= @question.title %>“</a>
</li>
<% end %>

<h3>编辑”<%= @question.title %>“</h3>

<%= render 'form' %>

<%= link_to '<< 返回', questions_path,:class=>"btn" %>
<%= content_for :js do %>
<%= render "js" %>
<script>
<%= render "activejs" %>

var answer="<%= @question.answer %>".split(",");
answer.pop();
$('#question_answer').selectpicker('val',answer );
$('#question_answer').selectpicker("refresh");
</script>
<% end %>