<%= content_for :css do %>
<%= render 'css' %>
<% end %>

<h3>题库列表</h3>
<%= link_to '新建题目', new_question_path,:class=>"btn btn-success",:remote=>true %>
<br><br>
<div id="create_quesions" width="100%"></div>
<table id="datatable">
  <thead>
    <tr>
      <th>题目名称</th>
      <th>介绍</th>
      <th>选项</th>
      <th>难度系数</th>
      <th>最近更新时间</th>
      <th>提供者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= question.title %></td>
        <td><%= question.description %></td>
        <td><%= question.options %></td>
        <td><%= question.difficulty %></td>
        <td><%= question.updated_at.strftime("%Y-%m-%d") %></td>
        <td><%= question.teacher.name %></td>
        <td><%= link_to '详情', question %></td>
        <td><%= link_to '编辑', edit_question_path(question) %></td>
        <td><%= link_to '删除', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br><br>



<%= content_for :js do %>
<%= render "js" %>
<script>
var oTable=$('#datatable').dataTable({
    "sPaginationType": "full_numbers",
    "sPaginationType": "bootstrap",
    "oLanguage": {
            "sUrl": "plugins/datatables/lan.json"
        },
        "aaSorting": [[ 6, "desc" ]],
        "aoColumns": [
          null,  
          { "asSorting": [] },
          { "asSorting": [] },null,null,null,null,null,null  
        ] ,
        'iDisplayLength':25,
        "bStateSave": true
  });

</script>
<% end %>