<table class="table">
  <tr>
    <td><strong>学号:</strong></td>
    <td><%= @student.stuid %></td>
  </tr>
  <tr>
    <td><strong>姓名:</strong></td>
    <td><%= @student.name %></td>
  </tr>
  <tr>
    <td><strong>性别:</strong></td>
    <td><%= sex_text @student.sex %></td>
  </tr>
  <tr>
    <td><strong>专业:</strong></td>
    <td><%= @student.profession %></td>
  </tr>
  <tr>
    <td><strong>年级:</strong></td>
    <td><%= @student.grade %></td>
  </tr>
</table>
  <h3>已参加的考试 </h3>

<table class="table table-striped">
  <thead>
    <th>考试名称</th>
    <th>简介</th>
    <th>试题数量</th>
    <th>平均难度</th>
    <th>提供者</th>
    <th></th>
  </thead>
  <tbody>
    <%  @exams.each do |exam| %>
    <tr>
      <td><%= exam.name %></td>
      <td><%= exam.description %></td>
      <td><%= exam.questions.size %></td>
      <td><%= difficulty_level exam.average_difficulty %></td>
      <td><%= exam.teacher.name %></td>
      <td>
      <% contest=Contest.where(exam_id:exam.id,student_id:params[:id]).first
      %>
      <%= mark_tag contest.mark %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '编辑', edit_student_path(@student),:class => "btn btn-info" %>
<%= link_to '返回', students_path,:class => "btn" %>
