<p id="notice"><%= notice %></p>

<p>
  <strong>Stuid:</strong>
  <%= @student.stuid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Hashed password:</strong>
  <%= @student.hashed_password %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @student.sex %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @student.profession %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @student.grade %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
