<%= form_for(@teacher) do |f| %>
<% if @teacher.errors.any? %>
  <div class="alert alert-block alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h5>您填写的表单有<%= pluralize(@teacher.errors.count, "error") %>个错误需要修正：</h5>
    <ul>
        <% @teacher.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
    </ul>
  </div>
  <% end %>


  <div class="field">
    <%= f.label "用户名" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "密码" %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "确认密码" %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label "是否拥有管理员权限" %><br>
    <%= f.check_box :is_admin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
