<%= form_for(@exam) do |f| %>
<% if @exam.errors.any? %>
  <div class="alert alert-block alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h5>您填写的表单有<%= @exam.errors.count  %>个错误需要修正：</h5>
    <ul>
        <% @exam.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
    </ul>
  </div>
  <% end %>


<table class="span12">
  <tr>
    <td class="span2"><%= f.label :name,"考试名称" %></td>
    <td class="span10"><%= f.text_field :name,:class=>"span6" %></td>
  </tr>
  <tr>
    <td><%= f.label :description,"简介" %></td>
    <td><%= f.text_area :description,:class=>"span6" %></td>
  </tr>
  <tr>
    <td><%= f.label :valid_from,"起始时间" %></td>


    <td>

<div class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd hh:ii" data-link-field="exam_valid_from" data-link-format="yyyy-mm-dd hh:ii">
     <input size="16" type="text" value="<%= Time.now.strftime("%Y-%m-%d %H:%M") %>" readonly>
     <span class="add-on"><i class="fa fa-th"></i></span>
 </div>
    <%= f.hidden_field :valid_from,:value=>Time.now.strftime("%Y-%m-%d %H:%M") %>

    </td>
  </tr>
  <tr>
    <td><%= f.label :valid_to,"结束时间" %></td>
    <td>
<div class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd hh:ii" data-link-field="exam_valid_to" data-link-format="yyyy-mm-dd hh:ii">
     <input size="16" type="text" readonly>
     <span class="add-on"><i class="fa fa-th"></i></span>
 </div>
  <%= f.hidden_field :valid_to %>
    </td>
  </tr>
  <tr>
    <td><%= f.label :timespan,"考试时间" %></td>
    <td>
    <div class="input-append">
  <%= f.number_field :timespan,min: "1",max:"600" %>
  <span class="add-on">分钟</span>
</div>
    
    </td>
  </tr>
  <tr>
    <td>题目列表</td>
    <td>
      <div id="question_list">
        <% unless @exam.questions.empty? %>
          <% @exam.questions.each do |question| %>
          <div class="opt_box span4">
            <div>
            <a class="text-error delete_box" data-id="<%= question.id %>">删除</a>
            </div>
            <h4><%= truncate question.title,length:16 %></h4>
            <div>选项：<%= question.options %></div>
            <div>答案：<%= question.answer %></div>
            <div>难度：<%= difficulty_level question.difficulty %></div>
            <input type="hidden" name="question_list[]" value="<%= question.id %>">
          </div>
          <% end %>
        <% end %>
      </div>

    </td>
  </tr>
</table>
<div class="clear"></div>
<br><hr><br>
<table class="table" id="datatable">
  <thead>
    <tr>
      <th>题目名称</th>
      <th>介绍</th>
      <th>选项</th>
      <th>难度系数</th>
      <th>最近更新时间</th>
      <th>提供者</th>
      <th width="60px"></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= truncate question.title,length: 20 %></td>
        <td><%= question.description %></td>
        <td><%= question.options %></td>
        <td><%= difficulty_level question.difficulty %></td>
        <td><%= question.updated_at.strftime("%Y-%m-%d") %></td>
        <td><%= question.teacher.name if question.teacher %></td>
        <td>
        <% if question.exams.where(id:@exam.id).count>0 %>
        <%= link_to "已添加",exam_optbox_path(question),remote:true,:class=>"btn btn-small","data-id"=> question.id,disabled:true %>
        <% else %>
        <%= link_to "添加",exam_optbox_path(question),remote:true,:class=>"btn btn-small","data-id"=> question.id,disabled:false %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>




  <div class="actions">
    <%= f.submit "提交",:class=>"btn btn-success btn-large" %>
  </div>
<% end %>
