<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Examal-在线考试系统</title>
	<%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'panel', media: 'all', 'data-turbolinks-track' => true %>
	<%= yield :css %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
	<%= csrf_meta_tags %>
</head>
<body>
<div class="panels">
	<div class="panel-header ">
		<%= image_tag("logo.png",id:"logo") %>
	</div>
	<div class="aside">
		<div class="list-group">
		<%= link_to content_tag(:i,"",:class=>"glyphicon glyphicon-dashboard")+" 概况",panel_index_url,:class=>"list-group-item active" %>
		<%= link_to content_tag(:i,"",:class=>"glyphicon glyphicon-check")+" 已参加的考试",panel_index_url,:class=>"list-group-item" %>
		<%= link_to content_tag(:i,"",:class=>"glyphicon glyphicon-refresh")+" 未参加的考试",panel_index_url,:class=>"list-group-item" %>
		<%= link_to content_tag(:i,"",:class=>"glyphicon glyphicon-user")+" 修改个人信息",panel_index_url,:class=>"list-group-item" %>
		<%= link_to content_tag(:i,"",:class=>"glyphicon glyphicon-share")+" 退出",exit_url,:class=>"list-group-item",method: :delete %>
		</div>
	</div>
	<div class="content">
	<%= yield %>
		
	</div>
</div>
</body>
<%= yield :js %>
</html>